footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
}
.navbar-brand {
  background: linear-gradient(to right, red 50%, #f1efef 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}