{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>{% if page_title %} {{ page_title }} {% else %} Ravi's PortFolio {% endif %}</title>
        <title>Ravi's PortFolio</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <meta name="description" content="I am Ravi Singh Patel, a Computer Science and Engineering student with expertise in developing innovative solutions. Explore my portfolio to see my impressive projects, skills, and experience in the field of computer science.">
    <meta name="keywords" content="ravi's portfolio, ravi singh patel, ravi patel ahmedabad, ravi singh patel computer science, ravi singh patel GEC patan, ravi gec patan">
    <meta name="author" content="Ravi Singh Patel, Computer Science and Engineering Student @ GEC Patan">
    <meta name="robots" content="index,follow">
    <meta property="og:title" content="Ravi Singh Patel - Computer Science and Engineering Student @ GEC Patan">
    <meta property="og:description" content="Explore my impressive projects, skills, and experience in the field of computer science.">
    <meta property="og:image" content="https://ravisinghpatel.engineer/static/assets/images/ravipic.webp">
    <meta property="og:url" content="https://ravisinghpatel.engineer">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Ravi Singh Patel">
    <meta name="twitter:description" content="Explore my portfolio of computer science projects and experiences. I'm a B.E. Computer Science and Engineering student who is passionate about technology and innovation.">
    <meta name="twitter:image" content="https://ravisinghpatel.engineer/static/assets/images/ravipic.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    {% block extra_head %}
        <style>

        @media (min-width: 768px) {
        }

        .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        }

    </style> {% endblock %}
</head>
<body>
    {% include 'header.html' %}
        <div class="content-container">
            <main class="content-main">
                {% block content %}

                 {% endblock %}
            </main>
        </div>
    {% include 'footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Person",
          "name": "Ravi Singh Patel",
          "url": "https://ravisinghpatel.engineer",
          "sameAs": [
            "https://www.linkedin.com/in/ravi-patel57144/",
            "https://twitter.com/rprs80115",
            "https://www.instagram.com/_.ravipatel/"
          ]
        }
    </script>


</body>
</html>