
<title>Ravi' Blog</title>
{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
{#    <h1>Coming Soon!</h1>#}
{#    <p>Exciting things are in the works! Check back soon for something truly amazing!</p>#}

    <h1>Ravi' Blog</h1>
    <hr>

    {% for writer in all_blogs.all %}
        <a href="{{ writer.url }}" target="_blank"><h3>{{ writer.title }}</h3></a>
        <img src="{{ writer.image.url }}" height="65%" width="100%">
        <h4>{{ writer.description }}</h4>
        <hr>
        <br>
    {% endfor %}


</div>

{% endblock %}

