
<title>Ravi' Blog</title>
{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h1>Coming Soon!</h1>
    <p>Exciting things are in the works! Check back soon for something truly amazing!</p>

    <h1>Ravi' Blog</h1>
    <hr>

    {% for writer in all_blogs.all %}
        <h3>{{ writer.title }}</h3>
        <img src="{{ writer.image.url }}" height="100%" width="100%">
        <a href="{{ writer.link }}" target="_blank"><h3>{{ writer.description }}</h3></a>

        <hr>
        <br>

    {% endfor %}


</div>

{% endblock %}

