{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand" href="{% url 'index' %}">Ravi's Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active linkedin-link" href="{% if docs %} {{ docs.linkedin }} {% else %} https://www.linkedin.com/in/ravi-patel57144/ {% endif %}" target="_blank"><span style="color:#ffffff">LinkedIn</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% if docs %} {{ docs.github }} {% else %} https://www.linkedin.com/in/ravi-patel57144/ {% endif %}" target="_blank"><span style="color:#ffffff">Github</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'blogs' %}"><span style="color:#ffffff">Projects</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% if docs %} {{ docs.resume.url }} {% else %} {% static Resume.pdf %} {% endif %}" target="_blank"><span style="color:#ffffff">Resume</span></a>
        </li>
        <li class="nav-item">
          <a href="https://wa.me/+918511861104?text=Let's work together on your next project!😊" target="_blank" class="btn btn-secondary rounded-circle shadow-sm" style="background-color: green; border-color: #030303;" title="WhatsApp me"><i class="fab fa-whatsapp"></i></a>
        </li>&nbsp;
        <li class="nav-item">
            <a href="tel:+918511861104" class="btn btn-secondary rounded-circle shadow-sm" style="background-color: deepskyblue; border-color: #030303;" title="Call us"><i class="fas fa-phone"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>