{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>

<section class="py-5 text-center container">
  <div class="row py-lg-5">
      <div class="col-lg-6 mx-auto">
          <div class="self-introduction">
              <span class="span-desg" style="font-size: 2em; font-family: ui-monospace;">Welcome to my portfolio!</span><br>
              <span class="span-name" style="font-size: 3em; font-family: ui-monospace; color: red;">Ravi Singh Patel</span>
              <p class="lead text-muted">I am a B.E. Computer Science and Engineering student with a passion for exploring new technologies and creating innovative solutions. Here, you will find a collection of my projects, skills, and experiences that showcase my technical knowledge and dedication to the field of computer science. I hope you enjoy browsing through my portfolio and getting to know me better.</p>

          </div>
      </div>
    <div class="col-lg-6 mx-auto">
      <div class="self-img">
        <img src="{% static '/assets/images/ravipic.webp' %}" alt="Ravi Singh Patel" class="w-75" height="300px" width="150px" style="border-radius: 100%;" onerror="this.onerror=null; this.src='{% static '/assets/images/ravipic.png' %}';">
      </div>
    </div>

  <div class="col-lg-12 mx-auto">
    <p>
        <a href="mailto:ravi.patel57144@gmail.com?subject=Let's work together on your next project!"
           class="btn btn-secondary btn-lg rounded-pill shadow-sm"
           style="background-color: #D14836; border-color: #030303; font-weight: bold; width: 200px;"
           onmouseover="this.innerHTML='<i class=\'fa fa-envelope\'></i> Click to Email!'"
           onmouseout="this.innerHTML='<i class=\'fa fa-envelope\'></i> Hire me'">
           <i class="fa fa-envelope"></i> Hire me!
        </a>
    </p>
  </div>
      <div class="album py-5 bg-light">
        <h2>My Projects</h2><br>
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
          {% for pro in profile.all %}
            <div class="col">
              <div class="card shadow-sm">
                <img class="card-img-top" width="300" height="260" src="{{ pro.image.url }}" alt="{{ pro.summary }}">
                <div class="card-body">
                  <p class="card-text">{{ pro.summary }}</p>
                    <p class="card-text"><a href="{% url 'blogs' %}">For more Information Click here!</a></p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </div>
</section>


</main>

{% endblock %}
