<title>Ravi's Projects Showcase</title>


{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h1 class="heading">Experience My Remarkable Selection of Projects</h1>
    <hr>
    <div class="projects-grid">
        {% for writer in all_blogs.all %}
            <div class="project">
                <a href="{{ writer.url }}" target="_blank" class="project-link">
                    <h3 class="project-title">{{ writer.title }} <span class="visit-link">(Visit Project)</span></h3>
                </a>
                <img class="project-image" src="{{ writer.image.url }}" alt="{{ writer.title }}">
                <p class="project-description">{{ writer.description }}</p>
                <hr>
            </div>
        {% endfor %}
    </div>
</div>

<br>
<br>
{% endblock %}
